.ms-navbar {
    margin-bottom: 0px !important;
}

.intro-full .intro-full-content {
    padding-top: 0px;
}

.bg-black {
    background: black;
}

.ms-header .ms-title img,
.contact-us-logo {
    margin-right: 0;
    width: 15%;
    height: 15%;
}

.ms-navbar .navbar-brand img,
.ms-slidebar-t img {
    margin-right: 0;
    width: 30px;
    height: 30px;
}

.ms-hero-img-home {
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat
}
@media (min-width: 499px){
    .header-right {display: none !important;}
    .btn-navbar-menu {display: none !important;}
}
.ms-header {
    display: none !important;
}